<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>k</title>
</head>
<body>
sdfklsldkflsdkflksdlfksdlkflks

sdfsdfsdfsd3333333333333
rhrudkyungjoon is geniusdsdfd
rhsdfjhsdjfhsdjhf
rhdlsfkgldfkg
rhru
sdfjksdjfrhjkjjsdkfjsdf고경준 천재님이사입니sdlfksdlfk

고경준 천재님이십니ㅏㄴdflskdflksdf<br/>
<!--/*@thymesVar id="arrList" type="java.lang.List"*/-->
<!--/*@thymesVar id="arrOne" type="java.util.HashMap"*/-->
<table>

    <tr th:each="arrOne : ${arrList}">
        <td th:text="${arrOne.id}">Onions</td>
        <td th:text="${arrOne.content}">2.41</td>
    </tr>


</table>

</body>

</html>